// --------------------------------------------------
// Config
// --------------------------------------------------

// mostly done per default in foundation
// see also
// node_modules/foundation-sites/scss/_global.scss

//
// Colors
// --------------------------------------------------
$black: #373737;
$white: #fcfcfc;

$primary-color: #0ba5e9;

$lighter-gray: #f6f6f6;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;

// sections
$sections-even-background: $lighter-gray;

// header
$site-header-overlay-color: rgba(0, 0, 0, 0.47);
$site-header-nav-link-hover-color: $primary-color;

// footer
$footer-background-color: $black;
$footer-link-inactive: $medium-gray;

// links
$link-color-hover: $site-header-nav-link-hover-color;
$link-color-visited: $link-color-hover;

// topbar
$topbar-background: rgba(255, 255, 255, 0);
$topbar-submenu-background: $topbar-background;

//
// Font Settings
// -------------------------------------------------
$body-font-family: 'Lato', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$font-weight-light: 300;

// header
$header-font-weight: $font-weight-light;

//header page section (not header like h1,h2,h3)
$site-header-font-weight: $header-font-weight;

$header-styles: (
  small: (
    'h1': ('font-size': 24),
    'h2': ('font-size': 20),
    'h3': ('font-size': 19),
    'h4': ('font-size': 18),
    'h5': ('font-size': 17),
    'h6': ('font-size': 16),
  ),
  medium: (
    'h1': ('font-size': 35),
    'h2': ('font-size': 30),
    'h3': ('font-size': 25),
    'h4': ('font-size': 20),
    'h5': ('font-size': 18),
    'h6': ('font-size': 16),
  ),
  large: (
    'h1': ('font-size': 48),
    'h2': ('font-size': 40),
    'h3': ('font-size': 31),
    'h4': ('font-size': 25),
    'h5': ('font-size': 20),
    'h6': ('font-size': 16),
  )
);

//

//
// Lib Settings
// -------------------------------------------------

// maps
$map-height-large: 550px;
$map-height-medium: 600px;
$map-height-small: 350px;
