// --------------------------------------------------
// Config
// --------------------------------------------------

// mostly done per default in foundation
//see also node_modules/foundation-sites/

//
// Colors
// --------------------------------------------------
$black: #373737;
$white: #fcfcfc;
$link-color-hover: $black;
$link-color-visited: $white;

$header-overlay-color: rgba(0, 0, 0, 0.47);

//
// Font Settings
// -------------------------------------------------
$body-font-family: Lato, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$font-weight-light: 300;
