// --------------------------------------------------
// Headings
// --------------------------------------------------

h2,
h4 {
  margin-bottom: rem-calc(50);
}

.c-header-underline {
  text-align: center;

  &:after {
    display: block;
    height: rem-calc(2);
    background-color: $header-underline-color;
    content: "";
    width: rem-calc(100);
    margin: 0 auto;
    margin-top: rem-calc(10);
  }
}

/* up to small */
@media only screen and (max-width: 39.9375em) {
  h2,
  h4 {
    margin-bottom: rem-calc(25);
  }

  .c-header-underline {
    &:after {
      width: rem-calc(60);
      margin-top: rem-calc(10);
    }
  }
}
