// --------------------------------------------------
// Links
// --------------------------------------------------

a:link,
a:visited {
  color: $link-color-visited;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid $link-color-visited;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  -moz-transition: border-bottom 0.2s, color 0.2s;
  -ms-transition: border-bottom 0.2s, color 0.2s;
  -o-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: $link-color-hover;
  border-bottom: 1px solid transparent;
}

