/***************************************/
/*                Links                */
/***************************************/

//
// config
//
$link-color-hover: $secondary-color;
$link-color-visited: $link-color-hover;


/* a:link,
a:visited {
  color: $link-color-visited;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  -moz-transition: border-bottom 0.2s, color 0.2s;
  -ms-transition: border-bottom 0.2s, color 0.2s;
  -o-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: $link-color-hover;
} */

