# Site settings
language:               "de"
languages:              ["de", "en"]
title:                  "NYC Musikmarathon Mattighofen"
date:
  begin:                "2021-08-11"
  end:                  "2021-08-15"
#slogan:                "Live music &mdash; with live music."
description:            "Verwöhnt mit Bewährtem, verführt mit Neuem und inspiriert mit Kreativem"
#description:           "»NYCMM« bietet ein Musikseminar, Konzerte und Jam-Sessions wo du Musik machen und genießen kannst."
google-verification:    ""

# Handling Reading
include:
  - ".htaccess"
  - "_pages"

markdown: kramdown
kramdown:
  auto_ids: false

# keep in mind that jekyll is going to exclude this files in jekyll build task from gulp.
exclude:
  - "assets/js/lib/"
  - "assets/scss/"
  - "assets/vendors/leaflet/" # DISABLE LEAFLET
  - "assets/js/app.js"
  - "composer.json"
  - "composer.lock"
  - "Gemfile"
  - "Gemfile.lock"
  - "gulp/"
  - "gulpfile.js"
  - "LICENSE.md"
  - "Makefile"
  - "node_modules"
  - "npm-debug.log"
  - "package.json"
  - "README.md"
  - "rev-manifest.json"
  - "yarn.lock"
  - "yarn-error.log"
  - "nycmm.code-workspace"

# if there are extra generated files (such as bundle.js from webpack or minified app.cs) we have to let
# jekyll know about it, otherwise it will delete them
keep_files:
  - "assets/js"
  - "assets/css/app.css"

# Plugins
# Add plugins in the Gemfile
plugins:
  - jekyll-paginate-v2
  - jekyll-environment-variables

# Conversion
incremental:      true

# Serving
# url:            ""
# baseurl:        "" # does not include hostname

# header video
#header_video:     "/assets/video/header_video_x264.mp4"
header_hero:      "/assets/img/header/hero.jpg"

# logo
logo:             "/assets/img/logo.png"
logo_sticky:      "/assets/img/logo_sticky.png"

compress_html:
  ignore:
    envs: [development]

highlighter: rouge

pagination:
  enabled: true
  per_page: 5
  # exclude the first N number of newest posts from the pagination.
  #offset: 2
  permalink: '/page/:num/'
  title: ':title | :num'
  # Limit how many pagenated pages to create (default: 0, means all)
  limit: 0
  sort_field: 'date'
  sort_reverse: true
  # trail: not working with version 1.5.x of jekyll paginate
  #  before: 2
  #  after: 2

# See _data/authors.yml
author: matt

defaults:
  - scope:
      path: '' 				# an empty string here means all files in the project
      type: 'pages'
    values:
      menu: main      # define where to show menu (main, footer)
  - scope:
      path: ''
      type: 'posts'
    values:
      show_meta: true   # Show metadata for all posts
      comments: false
      author: matt     # Default author for posts
  - scope:
      path: '_posts/de'
      type: 'posts'
    values:
      permalink: "/blog/:year/:month/:day/:title/"
  - scope:
      path: '_posts/en'
      type: 'posts'
    values:
      permalink: "en/blog/:year/:month/:day/:title/"


