{% assign section_data = site.data.sections[page.section] | where: "id", "lineup_id" | first %}

<div class="grid-container">
  {% for concert in section_data.concerts %}
    <div class="c-section-lineup-concert">
      {% capture concert_description %}{% include sections/{{ page.section }}/{{ page.language }}/{{ section_data.folder }}/{{ concert.description }} %}{% endcapture %}
      <div class="c-section-lineup-concert-description">
        {{ concert_description | | markdownify }}
      </div>
      {% assign act_cell_grid = 12 | divided_by: concert.x-grid-cells %}
      <div class="grid-x grid-padding-x grid-padding-y">
        {% for act in concert.acts %}
          <div class="large-{{act_cell_grid}} medium-{{act-cell-grid}} small-12 cell">
            <figure class="c-section-lineup-concert-act">
              <div class="c-section-lineup-concert-act-image">
                <img src="/assets/img/acts/{{ act.image }}" alt="{{ act.image-title }}" title="{{ act.image-title }}">
              </div>
              {% capture act_description %}{% include sections/{{ page.section }}/{{ page.language }}/{{ section_data.folder }}/{{ act.description }} %}{% endcapture %}
              <div class="c-section-lineup-concert-act-description">
                {{ act_description | markdownify }}
              </div>
            </figure>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
