<!doctype html>
<html lang="{{site.language}}">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.title }}</title>

  <meta name="Description" content="{{ site.description }}">
  <meta name="google-site-verification" content="{{ site.google-verification }}">

  <link rel="shortcut icon" href="{{ "/assets/img/favicon/favicon.ico" | relative_url }}">
  <meta name="theme-color" content="#ffffff">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400&display=swap" rel="stylesheet">
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

  <link rel="stylesheet" href="{{ "/assets/css/app.css" | relative_url }}">

  <!-- DISABLED -->
  <!--   <link rel="stylesheet" href="{{ "/assets/vendors/galleria/galleria.classic.min.css" | relative_url }}"> -->
  <!-- <link rel="stylesheet" href="{{ "/assets/vendors/leaflet/leaflet.min.css" | relative_url }}"> -->
  <!--   <link rel="stylesheet" href="{{ "/assets/vendors/photoswipe/default-skin/default-skin.css" | relative_url }}"> -->
</head>

<body>
