{% include head.html %}

<header id="site-header">
  <div class="c-header-video">
    <video loop muted autoplay preload="auto">
      <source src="{{ site.header_video | relative_url }}" type="video/mp4">
    </video>
  </div>
  {% include components/nav-menu.html %}
  <div class="c-header-content">
    <h1>{{ site.title }}</h1>
    <h2>{{ site.slogan }}</h2>
    {% assign sign_up = site.data.lang[page.language].home.sign_up %}
    {% assign tickets = site.data.lang[page.language].home.tickets %}
    <a class="hollow button c-header-button" href="#">{{ sign_up }}</a>
    <a class="hollow button c-header-button" href="#">{{ tickets }}</a>
  </div>
</header>
