{% for section in site.data.sections[page.section] %}
  {% assign section_id = site.data.lang[page.language].navigation[{{section.id}}] %}
  {% assign section_title = site.data.lang[page.language].navigation[{{section.title}}] %}
  <div id="section-{{section.id}}-container" class="c-section-parent-container">
    <section id="{{ section_id }}" class="c-section">
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="cell auto">
            <h2 class="c-header-underline">{{ section_title }}</h2>
            {% capture section_description %}{% include sections/{{ page.section }}/{{ page.language }}/{{ section.folder }}/{{ section.descriptions.main }} %}{% endcapture %}
            {{ section_description | markdownify }}
          </div>
        </div>
        {%if section.content %}
          {% include sections/{{ page.section }}/{{ page.language }}/{{ section.folder }}/{{ section.content }} %}
        {% endif %}
      </div>

      {% if section.image %}
        <figure class="c-section-image-figure">
          {% if section.image.caption %}
            <figcaption>{{ section.image.caption }}</figcaption>
          {% endif %}
          <div class="c-section-image-figure-container">
            {% if section.image.link %}
              <a href="{{ section.image.link }}" target="{{ section.image.target | default:_self }}">
            {% endif %}
            <img class="lazyload" src="{{section.image.lqip}}" data-src="{{ section.image.file }}" alt="" width="{{ section.image.width }}" height="{{ section.image.height }}">
            {% if section.image.link %}
              </a>
            {% endif %}
          </div>
        </figure>
      {% endif %}
    </section>
  </div>
{% endfor %}
