{% assign step_counter = 0 %}
<div class="grid-x grid-padding-x">
  {% for step in section.descriptions.steps %}

    {% assign step_counter = step_counter | plus: 1 %}
    {% capture step_description %}{% include sections/{{ page.section }}/{{ page.language }}/{{ section.folder }}/{{ step.description }} %}{% endcapture %}

      <div class="cell small-2">
        <div class="c-section-howitworks-step-count">
          <h3>{{ step_counter }}</h3>
        </div>
      </div>
      <div class="cell small-10">
        <div class="c-section-howitworks-step-description">
          {{ step_description | markdownify }}
        </div>
      </div>
  {% endfor %}
  <div class="cell auto">
    <h4>Falls du nur zu unseren Konzerten kommen möchtest, kauf dir Konzertickets in unserem <a href="#Tickets">Tickets</a> Bereich.<br>Wir freuen uns auf dich.<br>(Für alle Workshopteilnehmer sind die Konzerte kostenfrei)</h4>
  </div>
</div>
