//  Foundation for Sites Settings
//  -----------------------------

//
// Colors
// --------------------------------------------------
//
// Globals
// --------------------------------------------------
$global-radius: 1rem;

$foundation-palette: (
  primary: $primary-color,
  secondary: $secondary-color,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37
);

$anchor-color: $primary-color;

// Table settings

// PRIMARY COLOR TABLE
//$table-striped-background: lighten($secondary-color, 75%); striped color variation
/* $table-striped-background: lighten($primary-color, 50%);
$table-head-background: lighten($primary-color, 30%);
$table-border: 1px solid lighten($primary-color, 30%); */

// SECONDARY COLOR TABLE
//$table-striped-background: lighten($secondary-color, 70%);
$table-striped-background: lighten($primary-color, 50%);
$table-head-background: lighten($secondary-color, 60%);
$table-border: 1px solid lighten($secondary-color, 50%);

//
// Font
//
// -------------------------------------------------
$header-styles: (
  small: (
    'h1': ('font-size': 24),
    'h2': ('font-size': 20),
    'h3': ('font-size': 19),
    'h4': ('font-size': 18),
    'h5': ('font-size': 17),
    'h6': ('font-size': 16),
  ),
  medium: (
    'h1': ('font-size': 35),
    'h2': ('font-size': 30),
    'h3': ('font-size': 25),
    'h4': ('font-size': 20),
    'h5': ('font-size': 18),
    'h6': ('font-size': 16),
  ),
  large: (
    'h1': ('font-size': 48),
    'h2': ('font-size': 40),
    'h3': ('font-size': 31),
    'h4': ('font-size': 25),
    'h5': ('font-size': 20),
    'h6': ('font-size': 16),
  )
);

//
// Buttons
// -------------------------------------------------

//
// xy-Grid
// -------------------------------------------------
