{% assign classes_data = site.data.sections[page.section] | where: "id", "classes_id" | first %}

<!-- change scroll/stack: swap <table...> & edit _l-ws_details.scss -->
<!-- <table class="c-section-workshop-schedule-table"> -->
<table class="stack c-section-workshop-schedule-table">
  <thead>
    <tr>
      <th colspan="100%">Tagesablauf für InstrumentalistInnen</th>
    </tr>
  </thead>

  {% for ws_timeslot in section.timeslots %}
    <tr>
      <th>{{ ws_timeslot.time }}</th>

      {% for ws_class in section.ws_classes %}
        {% if ws_class.timeslot == ws_timeslot.slot %}
          {% if ws_class.type == "General" %}
            <td colspan="100%"><b>{{ ws_class.name }}</b><br>
              {{ ws_class.room }}
            </td>
          {%else%}
            <td>
              <b>{{ ws_class.name }}</b><br>
              {{ ws_class.tutor }}<br>
              Raum {{ ws_class.room }}<br>
            </td>
          {% endif %}
        {% endif %}
      {% endfor %}
    </tr>
  {% endfor%}
</table>