// --------------------------------------------------
// APP.SCSS
// --------------------------------------------------
// This is our main SCSS file that imports everything
// that gets compiled into app.css

// Import order:
// 1.  Encoding
// 2.  Variables
// 3.  Fonts
// 4.  Foundation
// 5.  Helpers
//
// SMACSS Architecture
// 6.  Base
// 7.  Layout
// 8.  Modules
// 9.  State
// 10. Theme

//
// 1. Encoding
// --------------------------------------------------
@charset 'UTF-8';

//
// 2. Variables
// --------------------------------------------------

// Import our global variables first so we can use
// them in Foundations's variables file

// Global Config Variables
@import 'base/reset';
@import 'base/config';

//
// 3. Fonts
// --------------------------------------------------
// Open Sans
// @import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");
// Lato
// @import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400");

//
// 4. 3rd Party Libs
// --------------------------------------------------
// Source: http://foundation.zurb.com/docs/
// Notes:
// - Foundation's component styles are set
//   in foundation/_settings.
// - Modify the _settings.scss file before overriding
//   the component styles on your own.
// - Need a specific foundation component? Enable it
//   in foundation/_foundation.scss.
// Import all of Foundation
@import 'foundation/foundation';

// cookieconsent import
@import 'node_modules/cookieconsent/build/cookieconsent.min';

// import animate on scroll
@import 'node_modules/aos/dist/aos';

// photoswipe core css import
// the default skin is imported in html header (due to skin files)
// @import 'node_modules/photoswipe/dist/photoswipe';

//
// 5. Helpers
// --------------------------------------------------

// Functions
@import 'helpers/functions';

// Mixins
@import 'helpers/mixins';

//
// 6. Base
// --------------------------------------------------
@import 'base/headings';
@import 'base/links';
@import 'base/grid';

//
// 7. Layout
// --------------------------------------------------
@import 'layouts/l-default';
@import 'layouts/l-header';
@import 'layouts/l-nav-menu';
@import 'layouts/l-sections';
@import 'layouts/sections/l-about';
@import 'layouts/sections/l-festival';
@import 'layouts/sections/l-workshop';
@import 'layouts/l-index';
@import 'layouts/l-page';
@import 'layouts/l-post';

//
// 8. Modules
// --------------------------------------------------
@import 'modules/m-code-highlighting';
@import 'modules/m-maps';
@import 'modules/m-gallery';

//
// 9. State
// --------------------------------------------------
@import 'states/s-your-module';

//
// 10. Theme
// --------------------------------------------------
@import 'themes/theme';
@import 'themes/galleria/twelve';
