<div class="c-section-tickets">
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y large-up-4 medium-up-4 small-up-1">
      {% for ticket in site.data.sections.section_details[section.details_file] %}
        <div class="cell c-section-tickets-ticket">
          <h4 class="c-section-tickets-ticket-title">{{ticket.title}}</h4>
          <div class="c-section-tickets-ticket-prices">
            {% if ticket.price.discount %}
              <h2 class="c-section-tickets-ticket-price">{{ticket.price.regular}}<span>&nbsp;/&nbsp;{{ticket.price.discount}}&nbsp;*</span></h2>
            {% else %}
              <h2 class="c-section-tickets-ticket-price">{{ticket.price.regular}}</h2>
            {% endif %}
            {% if ticket.price.door %}
              <h5 class="c-section-tickets-ticket-door-price">Abendkasse: {{ticket.price.door}}</h5>
            {% endif %}
          </div>
          <div class="c-section-tickets-ticket-description">
            <ul>
              {% for include in ticket.includes %}
                <li><i class="ion-md-checkbox-outline"></i>{{include.item}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <p class="c-section-tickets-info">*&nbsp;Ermäßigter Eintritt für Schüler/Studenten/Jugendliche bis zum vollendeten 19. Lebensjahr.<br>Freier Eintritt für Kinder und Jugendliche unter 14 Jahren</p>
</div>
