/***************************************/
/*        Default Layout               */
/***************************************/

/***************************************/
/*                Footer               */
/***************************************/

footer {
  background: $footer-background-color;
  padding-top: 20px;
  color: $footer-text-color;

  li {
    font-size: 20px;

    a:link,
    a:visited,
    a:link,
    a:visited {
      color: $footer-text-color;
      -webkit-transition: border-bottom 0.2s;
      -moz-transition: border-bottom 0.2s;
      -o-transition: border-bottom 0.2s;
      transition: border-bottom 0.2s;
    }

    a:active,
    a:hover {
      color: $footer-text-hover-color;

      // social icons
      .ion-logo-facebook {
        color: #3b5998;
      }

      .ion-logo-instagram {
        color: #ef4b5b;
      }
    }
  }

  .copyright {
    p {
      margin-top: 4px;
      height: 100%;
    }
  }
}

// disabling floating revoke button for cookies
.c-cookie-revoke-disabled {
  display: none;
}
