/***************************************/
/*            Navigation               */
/***************************************/
.c-main-nav-link {
  list-style: none;
  a {
    &:link,
    &:visited {
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: 2px solid transparent;
      -webkit-transition: border-bottom 0.2s;
      -moz-transition: border-bottom 0.2s;
      -o-transition: border-bottom 0.2s;
      transition: border-bottom 0.2s;
      padding: 8px 0;
    }

    &:hover,
    &:active {
      border-bottom: 2px solid $site-header-nav-link-hover-color;
    }
  }
}

.c-nav-container {
  margin-top: 60px;
}

.c-nav-logo {
  float: right;
  padding-right: 60px;
  margin-top: -10px;
}

.c-nav-bottom-back-to-top-icon {
  right: 30px;
  bottom: 30px;
  position: fixed;
  border: 2px solid $primary-color;
  border-radius: 50%;
  text-align: center;
  color: $black;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
  width: 3em; // relative due to circle
  height: 3em; // relative due to circle

  &:link,
  &:visited {
    color: $black;
    text-decoration: none;
  }

  &:hover,
  &:active {
    color: $primary-color;
  }

  i {
    font-size: map-get(map-get(map-get($header-styles, medium), "h2"), "font-size") + unquote("px");
    width: 30px;
  }
}

/************************************/
/*        Sticky Navigation         */
/************************************/

// this is necessary for mobile devices to
// keep sticky nav on top
.sticky {
  z-index: 50;

  &.is-stuck {
    z-index: 50;
  }
}

.c-nav-bottom-sticky {
  display: none;

  &.sticky.is-stuck {
    display: inline-block;
  }
}

.c-nav-top-sticky {
  // hide logo in the sticky menu per default
  .c-nav-logo-sticky {
    float: right;
    display: none;
    padding-right: 60px;
  }

  &.sticky.is-stuck {
    background-color: $light-gray;
    box-shadow: 0 2px 2px $medium-gray;

    .c-dropdown-nav-icon {
      color: $black;
    }

    .c-nav-logo {
      display: none;
    }

    .c-nav-logo-sticky {
      display: inline-block;
    }

    .c-nav-page-sections {
      margin: 0;

      .c-main-nav {
        margin: 0;
        .c-main-nav-link a {
          &:link,
          &:visited {
            color: $black;
          }
        }
      }
    }
  }
}

/************************************/
/*        Dropdown  Navigation      */
/************************************/
.c-dropdown-nav {
  display: none;
  position: absolute;
  background-color: $light-gray;
  box-shadow: 0 2px 2px $medium-gray;
  // get font-size from header h5 sizes
  font-size: map-get(map-get(map-get($header-styles, medium), "h5"), "font-size") + unquote("px");
  padding: 20px 20px 0 20px;
  margin: 4px 0 0 60px;
  border-radius: $global-radius;
  overflow: auto;
  max-height: 500px;
  z-index: 50;
}

.c-dropdown-nav-link {
  display: block;
  list-style: none;
  margin-bottom: 10px;

  a {
    display: inline-block;

    &:link,
    &:visited {
      color: $black;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: 2px solid transparent;
      -webkit-transition: border-bottom 0.2s;
      -moz-transition: border-bottom 0.2s;
      -o-transition: border-bottom 0.2s;
      transition: border-bottom 0.2s;
    }

    &:hover,
    &:active {
      border-bottom: 2px solid $site-header-nav-link-hover-color;
    }
  }

  .c-dropdown-nav-link-current {
    &:link,
    &:visited {
      color: $dark-gray;
      text-decoration: none;
    }
  }

  .c-dropdown-section-nav-link {
    display: none;
    margin-left: 10px;
    font-size: map-get(map-get(map-get($header-styles, medium), "h5"), "font-size") + unquote("px");
  }
}

.c-dropdown-nav-icon {
  display: inline-block;
  // get font-size from header h5 sizes
  font-size: map-get(map-get(map-get($header-styles, medium), "h2"), "font-size") + unquote("px");
  cursor: pointer;
  color: $white;
  width: 30px;
  margin-left: 60px;
  vertical-align: middle;

  &:hover,
  &:active {
    color: $primary-color;
  }

  &:link,
  &:visited {
    color: $white;
    text-decoration: none;
  }

  i {
    width: 30px;
  }
}

/***************************/
/*    Section Navigation   */
/***************************/
.c-nav-page-sections {
  display: inline-block;
  // get font-size from header h5 sizes
  font-size: map-get(map-get(map-get($header-styles, medium), "h4"), "font-size") + unquote("px");
  margin: 0;
  vertical-align: middle;

  .c-main-nav {
    display: inline-block;
    margin: 0;

    .c-main-nav-link {
      margin-left: 40px;
      display: inline-block;
    }
  }
}

/***************************************/
/*       Navigation Queries            */
/***************************************/
/* up to Medium */
@media only screen and (max-width: 64em) {
  .c-nav-logo {
    display: none;
  }

  .c-nav-top-sticky.sticky.is-stuck {
    .c-nav-logo-sticky {
      display: none;
    }
  }

  .c-nav-page-sections {
    .c-main-nav {
      .c-main-nav-link {
        margin-left: 20px;
      }
    }
  }
}

@media only screen and (max-width: 40em) {
  .c-dropdown-nav {
    width: 100%;
    margin: 0;
    font-size: map-get(map-get(map-get($header-styles, medium), "h4"), "font-size") + unquote("px");
  }

  .c-nav-container {
    margin-top: 20px;
  }

  .c-dropdown-nav-icon {
    margin-left: 20px;
    font-size: map-get(map-get(map-get($header-styles, large), "h2"), "font-size") + unquote("px");
  }

  .c-dropdown-nav-link {
    .c-dropdown-section-nav-link {
      display: block;
      width: 100%;
      font-size: map-get(map-get(map-get($header-styles, medium), "h4"), "font-size") + unquote("px");
    }

    a {
      width: 100%;
      &:link,
      &:visited {
        text-transform: uppercase;
        background-color: transparent;
        border-bottom: none;
        transition: background-color 0.2s;
      }

      &:hover,
      &:active {
        border-bottom: none;
        background-color: rgba($site-header-nav-link-hover-color, 0.4);
      }
    }
  }

  .c-nav-page-sections {
    .c-main-nav {
      display: none;
    }
  }
}
