/***************************************/
/*            Navigation               */
/***************************************/

.c-nav-page-sections-main-item {
  list-style: none;
  a {
    &:link,
    &:visited {
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: 2px solid transparent;
      -webkit-transition: border-bottom 0.2s;
      -moz-transition: border-bottom 0.2s;
      -o-transition: border-bottom 0.2s;
      transition: border-bottom 0.2s;
      padding: rem-calc(8 0);
    }

    &:hover,
    &:active {
      border-bottom: 2px solid $site-header-nav-link-hover-color;
    }
  }
}

.c-nav-container {
  margin-top: rem-calc(60);
}

.c-nav-logo {
  float: right;
  padding-right: rem-calc(60);
  margin-top: -rem-calc(10);
}

// will be displayed with sticky event from top sticky
.c-nav-back-to-top-container {
  display: none;
}

.c-nav-back-to-top-button {
  right: rem-calc(30);
  bottom: rem-calc(30);
  position: fixed;
  border: 2px solid $nav-back-to-top-button-border-color;
  border-radius: 50%;
  text-align: center;
  color: $nav-back-to-top-button-color;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
  width: 3em; // relative due to circle
  height: 3em; // relative due to circle
  z-index: 50;

  &:link,
  &:visited {
    color: $nav-back-to-top-button-color;
    text-decoration: none;
  }

  &:hover,
  &:active {
    color: $nav-back-to-top-button-hover-color;
  }

  i {
    font-size: map-get(map-get(map-get($header-styles, medium), "h2"), "font-size") + unquote("px");
    width: rem-calc(30);
  }
}

/************************************/
/*        Sticky Navigation         */
/************************************/

// this is necessary for mobile devices to
// keep sticky nav on top
.sticky {
  z-index: 50;

  &.is-stuck {
    z-index: 50;
  }
}

.c-nav-logo-sticky {
  float: right;
  // hide logo in the sticky menu per default
  display: none;
  padding-right: rem-calc(60);
}

.c-nav-container-sticky.sticky.is-stuck {
  background-color: $sticky-container-background-color;
  box-shadow: 0 2px 2px $sticky-container-box-shadow-color;

  .c-nav-dropdown-icon {
    color: $black;

    &:hover,
    &:active {
      color: $nav-hover-color;
    }

    &:link,
    &:visited {
      color: $black;
    }
  }

  .c-nav-logo {
    display: none;
  }

  .c-nav-logo-sticky {
    display: inline-block;
  }

  .c-nav-page-sections {
    margin: 0;

    .c-nav-page-sections-main {
      margin: 0;
      .c-nav-page-sections-main-item a {
        &:link,
        &:visited {
          color: $black;
        }
      }
    }
  }
}

/************************************/
/*        Dropdown  Navigation      */
/************************************/
.c-nav-dropdown {
  display: none;
  position: absolute;
  background-color: $nav-dropdown-background-color;
  box-shadow: 0 2px 2px $nav-dropdown-box-shadow-color;
  // get font-size from header h5 sizes
  font-size: map-get(map-get(map-get($header-styles, medium), "h5"), "font-size") + unquote("px");
  padding: rem-calc(20);
  margin: rem-calc(4 0 0 60);
  border-radius: $global-radius;
  overflow: auto;
  max-height: rem-calc(500);
  z-index: 50;
}

.c-nav-dropdown-item {
  display: block;
  list-style: none;
}

.c-nav-dropdown-item-link {
  display: inline-block;

  &:link,
  &:visited {
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    -moz-transition: border-bottom 0.2s;
    -o-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
  }

  &:hover,
  &:active {
    border-bottom: 2px solid $site-header-nav-link-hover-color;
  }
}

.c-nav-dropdown-item-current-link {
  @extend .c-nav-dropdown-item-link;

  &:link,
  &:visited {
    color: $nav-dropdown-current-item-color;
    text-decoration: none;
  }
}

.c-nav-dropdown-item-section {
  margin-left: rem-calc(10);
  font-size: map-get(map-get(map-get($header-styles, medium), "h6"), "font-size") + unquote("px");
}

.c-nav-dropdown-icon {
  display: inline-block;
  // get font-size from header h5 sizes
  font-size: map-get(map-get(map-get($header-styles, medium), "h2"), "font-size") + unquote("px");
  cursor: pointer;
  color: $white;
  width: rem-calc(30);
  margin-left: rem-calc(60);
  vertical-align: middle;

  &:hover,
  &:active {
    color: $nav-hover-color;
  }

  &:link,
  &:visited {
    color: $white;
    text-decoration: none;
  }

  i {
    width: rem-calc(30);
  }
}

/***************************************/
/*     Section Dropdown  Navigation    */
/***************************************/
.c-nav-dropdown-item .c-nav-dropdown-item-section-dropdown-hide {
  visibility: hidden;
}

.c-nav-dropdown-item-section-dropdown {
  display: none;
  list-style: none;
}

.c-nav-dropdown-item-section-dropdown-icon {
  // hide section dropdowns for fullsize screens by default (is set again in media query)
  visibility: hidden;
  // get font-size from header h5 sizes
  font-size: map-get(map-get(map-get($header-styles, medium), "h3"), "font-size") + unquote("px");
  cursor: pointer;
  color: $black;

  &:hover,
  &:active {
    color: $nav-hover-color;
  }

  &:link,
  &:visited {
    color: $black;
    text-decoration: none;
  }

  i {
    width: rem-calc(30);
  }
}
/***************************/
/*    Section Navigation   */
/***************************/
.c-nav-page-sections {
  display: inline-block;
  // get font-size from header h5 sizes
  font-size: map-get(map-get(map-get($header-styles, medium), "h4"), "font-size") + unquote("px");
  margin: 0;
  vertical-align: middle;
}

.c-nav-page-sections-main {
  display: inline-block;
  margin: 0;
}

.c-nav-page-sections-main-item {
  margin-left: rem-calc(40);
  display: inline-block;
}

/***************************************/
/*       Navigation Queries            */
/***************************************/
/* up to Large */
@media only screen and (max-width: 64em) {
  .c-nav-logo {
    display: none;
  }

  .c-nav-container-sticky.sticky.is-stuck {
    .c-nav-logo-sticky {
      display: none;
    }
  }

  .c-nav-page-sections-main-item {
    margin-left: rem-calc(20);
  }
}

/* up to Medium */
@media only screen and (max-width: 40em) {
  .c-nav-dropdown {
    width: 100%;
    margin: 0;
    font-size: map-get(map-get(map-get($header-styles, medium), "h4"), "font-size") + unquote("px");
  }

  .c-nav-dropdown-item-section-dropdown-icon {
    visibility: unset;
  }

  .c-nav-container {
    margin-top: rem-calc(20);
  }

  .c-nav-dropdown-icon {
    margin-left: rem-calc(20);
    font-size: map-get(map-get(map-get($header-styles, large), "h2"), "font-size") + unquote("px");
  }

  .c-nav-dropdown-item-link {
    font-size: map-get(map-get(map-get($header-styles, medium), "h4"), "font-size") + unquote("px");

    &:link,
    &:visited {
      text-transform: uppercase;
      background-color: transparent;
      border-bottom: none;
      transition: background-color 0.2s;
    }

    &:hover,
    &:active {
      border-bottom: none;
      background-color: rgba($site-header-nav-link-hover-color, 0.4);
    }
  }

  .c-nav-page-sections-main {
    display: none;
  }
}
