// --------------------------------------------------
// Layout page
// --------------------------------------------------

.c-page-main-content {
  @include grid-row;

  padding: rem-calc(40 40);

  h4 {
    margin-bottom: rem-calc(10);
  }
}

.c-page-content-md-center {
  text-align: center;
}

.c-page-partner {
  .cell {
    display: flex;
    align-items: center;
  }
}
