// --------------------------------------------------
// Layout post
// --------------------------------------------------

.c-post-article {
  @include grid-row;

  padding: rem-calc(40 40);

  h2 {
    margin-bottom: rem-calc(20);
  }
}

.c-post-header {
  margin-bottom: rem-calc(30);
}

.c-post-back-to-blog {
  text-align: center;
}

.c-post-meta {
  color: $dark-gray;
  margin-bottom: rem-calc(20);
}
