/****************************/
/* general section settings */
/****************************/

// set background for every even child of section in the section-container
.c-section-main-content {
  .c-section-parent-container:nth-child(even) {
    background: $sections-even-background-color;
  }
}

.c-section {
  padding: rem-calc(40 0);
}

.c-section-image-figure {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  figcaption {
    text-align: center;
    font-size: map-get(map-get(map-get($header-styles, medium), h5), "font-size") + unquote("px");
    margin-bottom: rem-calc(10);
  }
}

.c-section-image-figure-container {
  overflow: hidden;
  position: relative;

  img {
    transform: scale(1);
    transition: transform 0.5s, opacity 0.5s;

    &:hover {
      transform: scale(1.02);
    }
  }
}

/*********************/
/* locations section */
/*********************/

.c-section-locations {
  margin-bottom: rem-calc(50);
}

.c-section-locations-map-container {
  height: $map-height-large;
}

/* up to large */
@media only screen and (max-width: 74.9375em) {
  .c-section-locations-map-container {
    height: $map-height-medium;
  }
}

/* up to medium */
@media only screen and (max-width: 63.9375em) {
  .c-section-locations-map-container {
    height: $map-height-small;
  }

  .c-section-image-figure-container {
    img {
      opacity: 1;

      &:hover {
        transform: scale(1);
      }
    }
  }
}

/* up to small */
@media only screen and (max-width: 39.9375em) {
  .c-section {
    padding: rem-calc(20 5);
  }
}

