/****************************/
/* general section settings */
/****************************/

// set background for every even child of section in the section-container
.c-section-main-content {
  .c-section-parent-container:nth-child(even) {
    background: $sections-even-background-color;
  }
}

.c-section {
  padding: rem-calc(40 0);
}

/* up to small */
@media only screen and (max-width: 39.9375em) {
  .c-section {
    padding: rem-calc(20 5);
  }
}
