/****************************/
/* general section settings */
/****************************/

// set background for every even child of section in the section-container
.c-section-container {
  section:nth-child(even) {
    background: $sections-even-background;
  }
}

.c-section {
  padding: 40px 0;
}

.c-section-cell-description {
  h4 {
    margin-bottom: 20px;
  }
}

.c-section-image {
  width: 15%;
  margin: auto;
  margin-bottom: 10px;
}

/******************/
/* tutors section */
/******************/
.c-section-tutor {
  width: 100%;
  overflow: hidden;
  background: black;
  margin: 0;

  img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.25);
    transition: transform 0.5s, opacity 0.5s;

    &:hover {
      opacity: 1;
      transform: scale(1.03);
    }
  }
}

/**********************/
/* howitworks section */
/**********************/
.c-section-howitworks-step-count {
  float: right;
  color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 50%;
  text-align: center;
  width: 3em;
  height: 3em;
}

.c-section-howitworks-step-description {
  text-align: left;
}

/**********************/
/* Contact section    */
/**********************/
.c-section-contact-form-map-box {
  position: relative;
  width: 100%;
  padding-bottom: 20px;

  #leafletMap {
    clear: both;
    z-index: 0;
  }
}

.c-section-contact-form {
  width: 90%;
  margin: 0 auto;

  .cell {
    text-align: left;
  }

  textarea {
    height: 150px;
    resize: none;
  }

  label[for="news"] {
    margin-bottom: 7px;

    > input[type="checkbox"] {
      margin: 4px;
      vertical-align: bottom;
    }
  }

  input[type="submit"] {
    width: 30%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
}

.c-section-contact-form-box {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.83);
  z-index: 10;
  height: $map-height-large;
  width: 50%;

  h3 {
    text-align: center;
    padding: 20px 0;
  }
}
