#gmapsMap {
  width: 100%;
  height: $map-height-large;
}

#leafletMap {
  width: 100%;
  height: $map-height-large;
}


/***************************************/
/*           Map Queries               */
/***************************************/

@media only screen and (max-width: 74.9375em) {
  #leafletMap {
    height: $map-height-medium;
  }

  #gmapsMap {
    height: $map-height-medium;
  }
}

@media only screen and (max-width: 63.9375em) {
  #leafletMap {
    height: $map-height-small;
  }

  #gmapsMap {
    height: $map-height-small;
  }
}
