
#leafletMap, #gmapsMap {
  width: 100%;
  height: $map-height-large;
  clear: both;
  z-index: 0;
}

#gmapsMap {
  // this is a fix for the gray box which will appear on reload
  // now map is only display when it's initialized
  display: none;
}

/***************************************/
/*           Map Queries               */
/***************************************/

@media only screen and (max-width: 74.9375em) {
  #leafletMap {
    height: $map-height-medium;
  }

  #gmapsMap {
    height: $map-height-medium;
  }
}

@media only screen and (max-width: 63.9375em) {
  #leafletMap {
    height: $map-height-small;
  }

  #gmapsMap {
    height: $map-height-small;
  }
}
