<nav class="grid-x grid-padding-x">
  <ul class="cell small-6 menu align-left">
    {% for item in site.data.nav-footer %}
      {% if item.title %}
        <li><a target="_blank" rel="noopener noreferrer" href="{{ item.url }}">{{ item.title }}</a></li>
      {% elsif item.icon-class %}
        <li><a  target="_blank" rel="noopener noreferrer" href="{{ item.url }}"><i class="{{ item.icon-class }}"></i></a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <ul class="cell small-6 menu align-right">
    <!-- search all pages except autogenrated for pagination for current one -->
    {% assign pages=site.pages | where:"autogen", nil | where:"ref", page.ref | sort: 'language' %}

    <!--list pages in all languages-->
    {% for page in pages %}
      <li>
        <a href="{{ page.url }}">{{ page.language }}</a>
      </li>
    {% endfor %}

    {% assign pages_size = pages | size%}
    {% unless pages_size > 0 %}
    <!-- search all posts  -->
    {% assign posts=site.posts | where:"ref", page.ref | sort: 'language' %}

    <!--list pages in all languages-->
    {% for post in posts %}
      <li>
        <a href="{{ post.url }}">{{ post.language }}</a>
      </li>
    {% endfor %}

    {% endunless %}
  </ul>
</nav>
