{% strip %}
<div class="c-nav-container" data-smooth-scroll-with-links data-animation-easing="swing" data-offset="-25" data-animation-duration="1000">
  <div data-sticky-container>
    <div class="sticky c-nav-container-sticky js--nav-container-sticky" data-margin-top="0" data-sticky data-sticky-on="small" data-top-anchor="site-header:bottom">
      <a class="c-nav-dropdown-icon js--nav-dropdown-icon"><i class="ion-md-menu"></i></a>
      {% assign pages = site.pages | where:"language", page.language | sort: 'order' %}
      <ul class="c-nav-dropdown js--nav-dropdown">
        {% for pageIt in pages %}
          {% if pageIt.title == page.title %}
            {% assign link_class = 'c-nav-dropdown-item-current' %}
          {% else %}
            {% assign link_class = '' %}
          {% endif %}
          <div class="c-nav-dropdown-item" >
           {% if pageIt.dropdown_title %}
            {% assign page_title = pageIt.dropdown_title %}
          {% else %}
            {% assign page_title = pageIt.title %}
          {% endif %}
            <li><a class="{{ link_class }}" href="{{ pageIt.permalink | relative_url }}">{{ page_title }}</a></li>
            {% for section in site.data.sections[pageIt.section] %}
              {% assign section_id = site.data.lang[pageIt.language].navigation[{{section.id}}] %}
              {% assign section_title = site.data.lang[pageIt.language].navigation[{{section.title}}] %}
              <li class="c-nav-dropdown-item-section"><a href="{{ pageIt.permalink | relative_url }}#{{ section_id }}">{{ section_title }}</a></li>
            {% endfor %}
          </div>
        {% endfor %}
      </ul>
      <nav class="c-nav-page-sections">
        <ul class="c-nav-page-sections-main">
          {% for section in site.data.sections[page.section] %}
            {% assign section_id = site.data.lang[page.language].navigation[{{section.id}}] %}
            {% assign section_title = site.data.lang[page.language].navigation[{{section.title}}] %}
            <li class="c-nav-page-sections-main-item"><a href="#{{ section_id }}">{{ section_title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      <img src="{{ site.logo | relative_url }}" alt="NYCMM Logo" class="c-nav-logo">
      <img src="{{ site.logo_sticky | relative_url }}" alt="NYCMM Logo" class="c-nav-logo-sticky">
    </div>
  </div>
  <div class="c-nav-back-to-top js--nav-back-to-top">
    <a class="c-nav-back-to-top-icon" href="#backToTop"><i class="ion-md-arrow-round-up"></i></a>
  </div>
</div>
{% endstrip %}
