<nav class="grid-x grid-padding-x">
  <ul class="cell small-6 menu align-left">
    {% for item in site.data.nav-footer %}
      {% if item.title %}
        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
      {% elsif item.icon-class %}
        <li><a href="{{ item.url }}"><i class="{{ item.icon-class }}"></i></a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <ul class="cell small-6 menu align-right">
    <!-- search all pages for current one -->
    {% assign pages=site.pages | where:"ref", page.ref | sort: 'language' %}

    <!--list pages in all languages-->
    {% for page in pages %}
      <li>
        <a href="{{ page.url }}">{{ page.language }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
