{% strip %}
<div data-sticky-container>
  <div class="sticky" data-margin-top="0" data-sticky data-sticky-on="small" data-top-anchor="site-header:bottom">
    <div class="c-nav-container">
      <a class="c-dropdown-nav-icon js--dropdown-nav-icon"><i class="ion-md-menu"></i></a>
      {% assign pages = site.pages | where:"language", page.language | sort: 'order' %}
      <ul class="c-dropdown-nav js--dropdown-nav-menu">
        {% for pageIt in pages %}
          {% if pageIt.title == page.title %}
            {% assign link_class = 'c-dropdown-nav-link-current' %}
          {% else %}
            {% assign link_class = '' %}
          {% endif %}
          <div class="c-dropdown-nav-link" data-smooth-scroll-with-links data-animation-easing="swing" data-threshold="0" data-animation-duration="1000">
            <li><a class="{{ link_class }}" href="{{ pageIt.permalink | relative_url }}">{{ pageIt.title }}</a></li>
            {% for section in site.data.sections[pageIt.section] %}
              {% assign section_id = site.data.lang[pageIt.language].navigation[{{section.id}}] %}
              {% assign section_title = site.data.lang[pageIt.language].navigation[{{section.title}}] %}
              <li class="c-dropdown-section-nav-link"><a href="{{ pageIt.permalink | relative_url }}#{{ section_id }}">{{ section_title }}</a></li>
            {% endfor %}
          </div>
        {% endfor %}
      </ul>
      <nav class="c-nav-page-sections" data-smooth-scroll-with-links data-animation-easing="swing" data-threshold="0" data-animation-duration="1000">
        <ul class="c-main-nav">
          {% for section in site.data.sections[page.section] %}
            {% assign section_id = site.data.lang[page.language].navigation[{{section.id}}] %}
            {% assign section_title = site.data.lang[page.language].navigation[{{section.title}}] %}
            <li class="c-main-nav-link"><a href="#{{ section_id }}">{{ section_title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      <img src="{{ site.logo | relative_url }}" alt="NYCMM Logo" class="c-nav-logo">
      <img src="{{ site.logo_sticky | relative_url }}" alt="NYCMM Logo" class="c-nav-logo-sticky">
    </div>
  </div>
</div>
{% endstrip %}
