{% strip %}
<div id="site-main-nav-breakpoint" data-sticky-container>
  <div class="sticky c-nav-container-sticky js--nav-container-sticky" data-margin-top="0" data-sticky data-sticky-on="small" data-top-anchor="site-main-nav-breakpoint:bottom">
    <nav class="c-nav-main-pages">
    <ul class="c-nav-main-pages-main">
      {% assign pages = site.pages | where:"autogen", nil | where:"language", page.language | sort: 'order' %}
      {% for pageIt in pages %}
        {% unless pageIt.menu contains "main" %}
          {% continue %}
        {% endunless %}
        {% if pageIt.dropdown_title %}
          {% assign page_title = pageIt.dropdown_title %}
        {% else %}
          {% assign page_title = pageIt.title %}
        {% endif %}
        <li class="c-nav-main-pages-main-item">
          <a href="{{ pageIt.permalink | relative_url }}">{{ page_title }}</a>
        </li>
      {% endfor %}
    </ul>
    </nav>
  </div>
</div>
{% endstrip %}
