{% for detail in site.data.sections.section_details[section.details_file] %}
  {% case detail.detail_name %}
  {% when "pricing"%}
    <div class="grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y large-up-4 medium-up-4 small-up-1">
      {% for ticket in detail.tickets %}
        <div class="cell c-section-workshop-tickets-ticket {{ticket_cell_offset}}">
          {% assign ticket_title = site.data.lang[page.language].workshop.tickets[{{ticket.title}}] %}
          <h5 class="c-section-workshop-tickets-ticket-title">{{ ticket_title }}</h5>
          <div class="c-section-workshop-tickets-ticket-prices">
            <h2 class="c-section-workshop-tickets-ticket-price">{{ticket.price}}</h2>
          </div>
        </div>
        {% if ticket.title == "wsticket_festivalpassWs_title" %}
          {% assign ws_fp_index = ticket %}
        {% endif %}
      {% endfor %}
    </div>
  {% when "workshops" %}
    <form id="workshopSignUpForm" method="post" netlify-honeypot="bot-field" data-netlify="true" accept-charset="utf-8" class="c-section-ws_tickets-form">
      <div class="grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y large-up-3 medium-up-3 small-up-1">
        <div class="cell">
          <label>Anrede
            <select name="salutation" placeholder="Anrede" name="Anrede">
              <option value="" disabled selected>Anrede</option>
              <option value="Miss">Frau</option>
              <option value="Mister">Herr</option>
              <option value="Sonstiges">Neutrale Anrede</option>
            </select>
          </label>
        </div>
        <div class="cell">
          <label>Vorname*
            <input type="text" name="first_name" placeholder="Vorname" required>
          </label>
        </div>
        <div class="cell">
          <label>Nachname*
            <input type="text" name="last_name" placeholder="Nachname" required>
          </label>
        </div>
        <div class="cell">
          <label>Straße + Hausnummer*
            <input type="text" name="street" required>
          </label>
        </div>
        <div class="cell">
          <label>PLZ + Ort*
            <input type="text" name="city" required>
          </label>
        </div>
        <div class="cell">
          <label>E-Mail Adresse*
            <input type="email" name="email" required>
          </label>
        </div>

        <div class="cell" style="text-align:left;">
          <label>Workshop*<br>
            {% for workshop in detail.workshops %}
              <input type="radio" name="workshop" value="{{ workshop.name }}" required>
              <label for="{{ workshop.name }}">{{ workshop.name }}</label>
              <br>
            {% endfor %}
          </label>
        </div>
        <div class="cell">
          <label>Instrument*
            <input type="text" name="Instrument" placeholder="z.B. Vocals, Piano, Saxophon" required>
          </label>
        </div>
        <div class="cell">
          <label>Level*
            <select name="level" required>
              <option value="" selected disabled>Level</option>
              <option value="beginner">Anfänger</option>
              <option value="okay">Mittelprächtig</option>
              <option value="advanced">Fortgeschritten</option>
            </select>
          </label>
        </div>
      </div>
      <label>Anmerkung
        <input type="text" name="comment">
      </label>
      <input type="checkbox" name="cb_Pictures" required>
      <label for="cb_Pictures">Ich bin damit einverstanden, dass während meiner Teilnahme am NYC Musikmarathon Fotos von mir gemacht und eventuell für Werbezwecke veröffentlicht werden. Mehr dazu(Link).*</label><br>
      <input type="checkbox" name="cb_SignUp" required>
      <label for="cb_SignUp">Ich melde mich verbindlich für den NYC Musikmarathon 2024 an.*</label>
      <br>
      <button type="submit" class="button" name="submit">Abschicken</button>
    </form>
  {% endcase %}
{% endfor %}

<div class="grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y large-up-2 medium-up-2 small-up-1">
  <div class="cell">
    <h5>Die Teilnahmegebühr mit Namen im Verwendungszweck bitte an folgendes Konto überweisen:</h5>
    <h5>New York City Musikmarathon<br>
    Raiffeisenbank Mattigtal<br>
    BIC: RZOOAT2L303<br>
    IBAN: AT45 3430 3000 0062 7182</h5>
  </div>
  <div class="cell">
    <h5>Preise:</h5>
    <h5>
    {% for ticket in site.data.sections.section_details[section.details_file][0].tickets %}
      {% unless ticket.title == "wsticket_festivalpassWs_title" %}
        {% assign ticket_title = site.data.lang[page.language].workshop.tickets[{{ticket.title}}] %}
        {{ ticket_title }} : {{ ticket.price }} (mit Festivalpass {{ticket.price | plus: ws_fp_index.price }}€)
        <br>
      {% endunless %}
    {% endfor %}
    </h5>
    <h5>Wir schicken dir eine Anmeldungsbestätigung, sobald die Teilnahmegebühr angekommen ist.</h5>
  </div>
</div>

<p>Falls du 19 Jahre oder jünger bist, kannst du beim NYCMM einen günstigeren Festivalpass direkt bei uns kaufen.<br>
Wir bitten dich um eine ehrliche Überweisung des korrekten Betrags.<br>
Solltest du dich gerade in einer schwierigen finanziellen Situation befinden, schreib uns eine Email an <a href="mailto:info@nycmusikmarathon.com">info@nycmusikmarathon.com</a> und dann können wir schauen, ob wir eine Lösung finden :)
</p>
