/****************************/
/* concerts section settings */
/****************************/

/******************/
/* lineup section */
/******************/

.c-section-lineup-concert {
  margin-bottom: rem-calc(50);

  &:not(:last-child):after {
    display: block;
    height: rem-calc(1);
    background-color: $secondary-color;
    content: "";
    width: rem-calc(100);
    margin: 0 auto;
    margin-top: rem-calc(25);
  }
}

.c-section-lineup-concert-act-image {
  width: 100%;
  overflow: hidden;
  background: black;
  margin: 0;
  position: relative;

  img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    background: black;
    transform: scale(1);
    transition: transform 0.5s, opacity 0.5s;

    &:hover {
      opacity: 1;
      transform: scale(1.02);
    }
  }
}

.c-section-lineup-concert-description {
  text-align: center;
  margin-bottom: rem-calc(25);

  h4 {
    margin-bottom: rem-calc(25);
  }
}

/******************/
/* tickets section */
/******************/

.c-section-tickets-ticket {
  background-color: $white;
  box-shadow: 0px 2px 2px $section-concerts-ticket-box-shadow-color;
  border: 1px solid $section-concerts-ticket-border-color;

  h5 {
    text-align: left;
    margin-bottom: rem-calc(25);
  }
}

.c-section-tickets-ticket-prices {
  color: $primary-color;
}

.c-section-tickets-ticket-price {
  span {
    font-size: map-get(map-get(map-get($header-styles, medium), h4), "font-size") + unquote("px");
  }
}

.c-section-tickets-info {
  margin-top: rem-calc(20);
  text-align: center;
}

/* up to medium */
@media only screen and (max-width: 63.9375em) {
  .c-section-lineup-concert-act-image {
    img {
      opacity: 1;

      &:hover {
        transform: scale(1.00);
      }
    }
  }
}
