/****************************/
/* concerts section settings */
/****************************/

/******************/
/* lineup section */
/******************/

.c-section-lineup-concert {
  margin-bottom: rem-calc(50);

  &:not(:last-child):after {
    display: block;
    height: rem-calc(1);
    background-color: $secondary-color;
    content: "";
    width: rem-calc(100);
    margin: 0 auto;
    margin-top: rem-calc(25);
  }
}

.c-section-lineup-concert-act-image {
  width: 100%;
  overflow: hidden;
  background: black;
  margin: 0;
  position: relative;

  img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: transform 0.5s, opacity 0.5s;

    &:hover {
      opacity: 1;
      transform: scale(1.02);
    }
  }
}

.c-section-lineup-concert-description {
  text-align: center;
  margin-bottom: rem-calc(25);

  h4 {
    margin-bottom: rem-calc(25);
  }
}

/******************/
/* tickets section */
/******************/

.c-section-tickets-ticket {
  background-color: $white;
  box-shadow: 0px 2px 2px $section-concerts-ticket-box-shadow-color;
  border: 1px solid $section-concerts-ticket-border-color;
  border-radius: rem-calc(5);
}

.c-section-tickets-ticket-order-btn {
  padding: rem-calc(15 30);
  margin: 0;
}

.c-section-tickets-ticket-title {
  text-align: left;
  margin-bottom: rem-calc(20);
}

.c-section-tickets-ticket-description {
  font-size: map-get(map-get(map-get($header-styles, medium), h5), "font-size") + unquote("px");
  font-weight: $header-font-weight;
  margin-bottom: rem-calc(30);

  ul {
    text-align: center;
    list-style: none;
    margin: 0;
    height: rem-calc(50);

    li i {
      color: $primary-color;
      margin-right: rem-calc(5);
    }
  }
}

.c-section-tickets-ticket-door-price {
  text-align: center;
  margin-bottom: rem-calc(20);
}

.c-section-tickets-ticket-price {
  color: $primary-color;
  border-bottom: 1px solid $section-concerts-ticket-border-color;
  margin-bottom: 0;
  span {
    margin-left: rem-calc(2);
    font-size: map-get(map-get(map-get($header-styles, medium), h4), "font-size") + unquote("px");
  }
}

.c-section-tickets-info {
  margin-top: rem-calc(20);
  text-align: center;
}

/*********************/
/* locations section */
/*********************/

.c-section-locations {
  margin-bottom: rem-calc(50);
}

.c-section-location-gallery-img,
.c-section-location-gallery-img-y-tile {
  width: 100%;
  overflow: hidden;
  background: black;
  position: relative;

  img {
    height: 100%;
    opacity: 0.7;
    transform: scale(1);
    transition: transform 0.5s, opacity 0.5s;

    &:hover {
      opacity: 1;
      transform: scale(1.02);
    }
  }
}

.c-section-location-gallery-img-y-tile {
  &:not(:last-child) {
    margin-bottom: rem-calc(25);
  }
}

/* up to medium */
@media only screen and (max-width: 63.9375em) {
  .c-section-lineup-concert-act-image {
    img {
      opacity: 1;

      &:hover {
        transform: scale(1.00);
      }
    }
  }
}
