/****************************/
/* concerts section settings */
/****************************/

/******************/
/* lineup section */
/******************/

.c-section-lineup-concert {
  margin-bottom: rem-calc(50);

  &:not(:last-child):after {
    display: block;
    height: rem-calc(1);
    background-color: $secondary-color;
    content: "";
    width: rem-calc(100);
    margin: 0 auto;
    margin-top: rem-calc(25);
  }
}

.c-section-lineup-concert-act-image {
  margin-bottom: rem-calc(25);
}

.c-section-lineup-concert-description {
  text-align: center;
  margin-bottom: rem-calc(25);

  h4 {
    margin-bottom: rem-calc(25);
  }
}

/*****************/
/* dates section */
/*****************/
.c-section-dates-table {
  th {
    font-size: map-get(map-get(map-get($header-styles, medium), h5), "font-size") + unquote("px");
    font-weight: normal;
    text-align: center;
  }
  td {
    font-size: map-get(map-get(map-get($header-styles, medium), h5), "font-size") + unquote("px");
    font-weight: $header-font-weight;
    text-align: center;
    border-bottom: 1px solid lighten($secondary-color, 50%);
  }
}

/******************/
/* tickets section */
/******************/

.c-section-tickets-ticket {
  background-color: $white;
  box-shadow: 0px 2px 2px $section-ticket-box-shadow-color;
  border: 1px solid $section-ticket-border-color;
  border-radius: rem-calc(5);
}

.c-section-tickets-ticket-order-btn {
  padding: rem-calc(15 30);
  margin: 0;
}

.c-section-tickets-ticket-title {
  text-align: left;
  margin-bottom: rem-calc(20);
}

.c-section-tickets-ticket-description {
  font-size: map-get(map-get(map-get($header-styles, medium), h5), "font-size") + unquote("px");
  font-weight: $header-font-weight;
  margin-bottom: rem-calc(30);

  ul {
    text-align: center;
    list-style: none;
    margin: 0;
    height: rem-calc(50);

    li i {
      color: $primary-color;
      margin-right: rem-calc(5);
    }
  }
}

.c-section-tickets-ticket-door-price {
  text-align: center;
  margin-bottom: rem-calc(20);
}

.c-section-tickets-ticket-price {
  color: $primary-color;
  border-bottom: 1px solid $section-ticket-border-color;
  margin-bottom: 0;
  span {
    margin-left: rem-calc(2);
    font-size: map-get(map-get(map-get($header-styles, medium), h4), "font-size") + unquote("px");
  }
}

.c-section-tickets-info {
  margin-top: rem-calc(20);
  text-align: center;
}
