
/****************************/
/* workshop section style   */
/****************************/

/*******************/
/* classes section */
/*******************/

.c-section-workshop-classes-class-image {
  width: 100%;
  overflow: hidden;
  background: black;
  margin: 0;
  position: relative;
  margin-bottom: rem-calc(25);

  img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: transform 0.5s, opacity 0.5s;

    &:hover {
      opacity: 1;
      transform: scale(1.02);
    }
  }
}

.c-section-workshop-classes-class-title {
  margin-bottom: rem-calc(20);
}

.c-section-workshop-classes-class-description {
  hyphens: auto;
  text-align: justify;
}


/********************/
/* schedule section */
/********************/
.c-section-workshop-schedule-table {
  th {
    font-size: map-get(map-get(map-get($header-styles, medium), h5), "font-size") + unquote("px");
    font-weight: normal;
    text-align: center;
  }
  tr {
    font-size: map-get(map-get(map-get($header-styles, medium), h5), "font-size") + unquote("px");
    font-weight: $header-font-weight;
    text-align: center;
    border-bottom: 1px solid lighten($secondary-color, 50%);
  }
}

