/****************************/
/* workshop section style   */
/****************************/

/*******************/
/* classes section */
/*******************/

.c-section-workshop-classes-class-image {
  width: 100%;
  overflow: hidden;
  background: black;
  margin: 0;
  position: relative;
  margin-bottom: rem-calc(25);

  img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: transform 0.5s, opacity 0.5s;

    &:hover {
      opacity: 1;
      transform: scale(1.02);
    }
  }
}

.c-section-workshop-classes-class-title {
  margin-bottom: rem-calc(20);
}

.c-section-workshop-classes-class-description {
  hyphens: auto;
  text-align: justify;
}

/********************/
/* schedule section */
/********************/
.c-section-workshop-schedule-table {
  th {
    font-size: map-get(map-get(map-get($header-styles, medium), h5), "font-size") + unquote("px");
    font-weight: normal;
    text-align: center;
  }
  tr {
    font-size: map-get(map-get(map-get($header-styles, medium), h5), "font-size") + unquote("px");
    font-weight: $header-font-weight;
    text-align: center;
    border-bottom: 1px solid lighten($secondary-color, 50%);
  }
}

/*******************/
/* tickets section */
/*******************/

.c-section-workshop-tickets-ticket {
  background-color: $white;
  box-shadow: 0px 2px 2px $section-ticket-box-shadow-color;
  border: 1px solid $section-ticket-border-color;
  border-radius: rem-calc(5);
}

.c-section-workshop-tickets-ticket-order-btn {
  padding: rem-calc(15 30);
  margin: 0;
}

.c-section-workshop-tickets-ticket-title {
  text-align: left;
  margin-bottom: rem-calc(20);
}

.c-section-workshop-tickets-ticket-description {
  font-size: map-get(map-get(map-get($header-styles, medium), h5), "font-size") + unquote("px");
  font-weight: $header-font-weight;
  margin-bottom: rem-calc(30);

  ul {
    text-align: center;
    list-style: none;
    margin: 0;
    height: rem-calc(50);

    li i {
      color: $primary-color;
      margin-right: rem-calc(5);
    }
  }
}

.c-section-workshop-tickets-ticket-door-price {
  text-align: center;
  margin-bottom: rem-calc(20);
}

.c-section-workshop-tickets-ticket-price {
  color: $primary-color;
  border-bottom: 1px solid $section-ticket-border-color;
  margin-bottom: 0;
  span {
    margin-left: rem-calc(2);
    font-size: map-get(map-get(map-get($header-styles, medium), h4), "font-size") + unquote("px");
  }
}

.c-section-workshop-tickets-info {
  margin-top: rem-calc(20);
  text-align: center;
}

/************************/
/* testimonials section */
/************************/

#section-testimonials_id-container {
  background-image: linear-gradient($section-testimonials-overlay-color, $section-testimonials-overlay-color),
    url(/assets/img/testimonials/testimonial_background.jpg);
  background-size: cover;
  color: $white;
  background-attachment: fixed;
  background-position: center;
}

.c-section-testimonials-testimonial {
  margin-top: rem-calc(20);

  blockquote {
    color: $white;
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    border: none;

    h4 {
      margin-bottom: rem-calc(10);
    }

    &:before {
      color: $white;
      content: "\201c";
      font-size: rem-calc(100);
      display: block;
      position: absolute;
      top: rem-calc(-5px);
      left: rem-calc(-3px);
    }
  }

  cite {
    color: $white;
    font-size: map-get(map-get(map-get($header-styles, medium), h4), "font-size") + unquote("px");
    display: block;
  }
}

/* up to medium */
@media only screen and (max-width: 63.9375em) {
  .c-section-workshop-classes-class-image {
    img {
      opacity: 1;

      &:hover {
        transform: scale(1);
      }
    }
  }
}
