/****************************/
/* ws_details section style */
/****************************/

/********************/
/* schedule section */
/********************/
.c-section-workshop-schedule-table {
    th {
      font-size: map-get(map-get(map-get($header-styles, medium), h3), "font-size") + unquote("px");
      font-weight: normal;
      text-align: center;
    }
    tr {
      font-size: map-get(map-get(map-get($header-styles, medium), h5), "font-size") + unquote("px");
      font-weight: $header-font-weight;
      text-align: center;
      border: 1px solid lighten($secondary-color, 50%);
    }
    td {
      border: 1px solid lighten($secondary-color, 50%);
    }
}

// change scroll/stack: comment section underneath & edit schedule.html
@media only screen and (max-width: 39.9375em) {
  .c-section-workshop-schedule-table {
    @include table-scroll;
  }
}
