---
#####################################
# Author: Matthias Mairleitner
# Date: 25.11.18
# Description: Layout for different sections on a single html page
#              See site.data.sections
#####################################

layout: default
format: sections
---

{% comment %}
#
# Iterate thru all sections which matches the 'section-category' configuration from the page
#
{% endcomment %}


{% for section in site.data.sections %}
    {% if page.section-category == section.category %}
        <div class="row t60">
            <div class="columns">

            </div>

        </div>
    {% endif %}






