
{% assign section_data = site.data.sections[page.section] | where: "id", "overview_id" | first %}

{% capture ensemble %}{% include sections/{{ page.section }}/{{ page.language }}/{{ section_data.folder }}/{{ section_data.descriptions.ensemble }} %}{% endcapture %}

<div class="grid-x grid-padding-x">
  <div class="small-4 cell c-section-cell-description">
    <figure class="c-section-image">
      <img src="/assets/img/icons/note-stand.svg">
    </figure>
    <h4>Ensembles</h4>
    {{ ensemble | markdownify }}
  </div>


  {% capture jamsessions %}{% include sections/{{ page.section }}/{{ page.language }}/{{ section_data.folder }}/{{ section_data.descriptions.jamsessions }} %}{% endcapture %}
  <div class="small-4 cell c-section-cell-description">
    <figure class="c-section-image">
      <img src="/assets/img/icons/microphone-with-wire.svg">
    </figure>
    <h4>Tägliche Jamsessions</h4>
    {{ jamsessions | markdownify }}
  </div>

  {% capture concerts %}{% include sections/{{ page.section }}/{{ page.language }}/{{ section_data.folder }}/{{ section_data.descriptions.concerts }} %}{% endcapture %}
  <div class="small-4 cell c-section-cell-description">
    <figure class="c-section-image">
      <img src="/assets/img/icons/stage.svg">
    </figure>
    <h4>Konzertreihe</h4>
    {{ concerts | markdownify }}
  </div>
</div>
